@inject Data.DataService Data
@using Fitness_Tracker_App.Data

<html>
<body style="background-color:black;"
      body/>
</html>
<!-- Gets the details (reps/sets/etc) specific to one exercise (i.e. bench press)-->
<div style="border: thin solid black; margin: 5px">
    <h3>@BodyPart</h3>



    <select input typeof="string" @bind="SelectedWorkout.ExerciseName">

        <option value="null">Please Select</option>
        @foreach (var exerciseName in ExerciseNames)
        {
            <option>@exerciseName</option>

        }

    </select>
    <br />

<p style="color:white">
    <table style="width:100%">
        <tr>
            <th>Reps:</th>
            <th> <input type="number" @bind="SelectedWorkout.AmountOfReps"  /></th>
          
            <th>Sets:</th> 
           <th> <input type="number" @bind="SelectedWorkout.AmountOfSets" /></th>
            
            <th>Weight in kg's:</th> 
            <th><input type="number" @bind="SelectedWorkout.Weight" /></th>
        </tr>
    </table>
</p>
    <div  class="container">
        <img src="@ImagePath" width="500" height="200" />

        @if (ImagePath2 != null)
        {
            <img src="@ImagePath2" width="500" height="200" />
        }

    </div>

</div>



@code {
    [Parameter]
    public String BodyPart { get; set; }
    [Parameter]
    public List<String> ExerciseNames{ get; set; }
    [Parameter]
    public string ImagePath { get; set; }
    [Parameter]
    public string ImagePath2 { get; set; }
    [Parameter]
    public Workout SelectedWorkout { get; set; }
    [Parameter]
    public EventCallback<Workout> SelectedWorkoutChanged { get; set; }

    public string _selectedName;
    public int _numberReps;
    public int _numberSets;
    public int _weights;
    public string _ExerciseNames;







}
