@for (var i = 0; i < Movies.Count; i++)
{
    <div> @*style="background-color: @(i % 2 == 0 ? "blue" : "red")">*@
        <p>@(i+1))Title: <b>@Movies[i].Title</b></p>
        <p>Release Date: <b>@Movies[i].ReleaseDate.ToString("dd MMM yyyy")</b></p>
    </div>
}


@code {
    [Parameter] public List<Movie> Movies { get; set; }

   

}
