@inject Data.DataService Data
@using Fitness_Tracker_App.Data


<h3>Training Day Details</h3>
@if (Data.CurrentUser == null)
{
    <p>Please Create a User first!</p>
}
else
{
    <button class="btn btn-primary" @onclick="AddTrainingDay">Todays Date</button>
    <p>Date:</p>
    <input type="date" @bind="_DateTime" />
    
    <br />
    <p>Body Weight in kg's':</p>
    <input type="number" @bind="_BodyWeight" />
    <br />
}

@code {

    private DateTime _DateTime;
    private double _BodyWeight;


    public void AddTrainingDay()
    {
        var aTrainingDay = new TrainingDay();
        aTrainingDay.BodyWeight = _BodyWeight;
        aTrainingDay.TodaysDate = _DateTime;

        Data.CurrentUser.TrainingDays.Add(aTrainingDay);
    }
    public class XMLWrite
    {

        //static void Main(string[] args) // had to comment out as can only have one main entry point
        //{
        //    WriteXML();
        //}

        public class TrainingDay
        {
            public String SaveTrainingDay;
        }

        public static void WriteXML()
        {
            TrainingDay overview = new TrainingDay();
            overview.SaveTrainingDay = "Serialization Overview";
            System.Xml.Serialization.XmlSerializer writer =
                new System.Xml.Serialization.XmlSerializer(typeof(TrainingDay));

            var path = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments) + "//SerializationOverview.xml";
            System.IO.FileStream file = System.IO.File.Create(path);

            writer.Serialize(file, overview);
            file.Close();
        }
    }
}
