@inject Data.DataService Data
@using Fitness_Tracker_App.Data


<h3>UserDetails</h3>
@if (Data.CurrentUser == null)
{
    <p>Please enter your first name:</p>
    <input type="text" @bind="_UsersFirstName" />
    <p>Please enter your last name:</p>

    <input type="text" @bind="_UsersLastName" />
    @*date input here*@
    <button @onclick="AddUser">Add User</button>
}
else
{
    <p>Hello @Data.CurrentUser.FirstName!</p>
    <p>There are @Data.CurrentUser.TrainingDays.Count saved Trainingdays:</p>
    <p>Your last entry was on @Data.CurrentUser.TrainingDays.OrderBy(o => o.TodaysDate).First().TodaysDate</p>
}

@code {


    private string _UsersFirstName;
    private string _UsersLastName;
    private DateTime _DOB;
   






    public void AddUser()
    {
        var u = new User();
        u.FirstName = _UsersFirstName;
        u.LastName = _UsersLastName;
        u.DOB = _DOB;

        //add the dob
       // Data.Users.Add(u);
        Data.AddUser(u);
    }


}
