@page "/Back Exercises"
<h1>Back Exercises</h1>


<div class="container">
    <img src="/ExerciseImages/back exercise deadlift Screenshot 2021-11-10 154854.png" />"

    <img src="/ExerciseImages/Dumbbell bench Row Screenshot 2021-11-10 155659.png" />

    <img src="/ExerciseImages/Lat Pulldown Screenshot 2021-11-10 155518.png" />

    <img src="/ExerciseImages/Pullups Screenshot 2021-11-10 155831.png" />

    <img src="/ExerciseImages/Seated Cable Row Screenshot 2021-11-10 155742.png" />

    <img src="/ExerciseImages/T-Bar Row Screenshot 2021-11-10 155900.png" />
</div>



@code {

}
