@page "/Back Exercises"
@inject Data.DataService Data
<h1>Back Exercises</h1>


<div class="container">
    <p>Barbell Row:</p>
    <img src="@Data.BackExercisePicturePaths["Barbell Row"]" />
    <br />

    <p>Single Arm Dumbbell Row:</p>
    <img src="@Data.BackExercisePicturePaths["Single Arm Dumbbell Row"]" />
    <br />

    <p>LatPulldown machine:</p>
    <img src="/ExerciseImages/Lat Pulldown Screenshot 2021-11-10 155518.png" />
    <br />

    <p>BodyWeight Pullups:</p>
    <img src="/ExerciseImages/Pullups Screenshot 2021-11-10 155831.png" />
    <br />

    <p>Seated Cable Row:</p>
    <img src="/ExerciseImages/Seated Cable Row Screenshot 2021-11-10 155742.png" />
    <br />

    <p>T-Bar Row:</p>
    <img src="/ExerciseImages/T-Bar Row Screenshot 2021-11-10 155900.png" />
</div>



@code {

}
