@page "/Chest Exercises"
@inject Data.DataService Data
<h1>Chest Exercises</h1>

<div class="container">
    <p>Incline Dumbbell Press:</p>
    <img src="@Data.ChestExercisePicturePaths["Incline Barbell Bench Press"]" />

    <br />

    <p>Cable CrossOver:</p>
    <img src="/ExerciseImages/cable crossover Screenshot 2021-11-10 173300.png" />

    <br />

    <p>Decline Dumbbell Flyes</p>
    <img src="/ExerciseImages/decline dumbbell flyes Screenshot 2021-11-10 172917.png" />

    <br />

    <p>Flat Bench Dumbbell Flyes</p>
    <img src="/ExerciseImages/dumbbell flyes flat bench Screenshot 2021-11-10 173344.png" />
    <br />

    <p>Incline Barbell Press</p>
    <img src="/ExerciseImages/incline barbell press Screenshot 2021-11-10 173214.png" />
    <br />

    

    <p>Incline Dumbbell Flyes</p>
    <img src="/ExerciseImages/incline dumbell flyes Screenshot 2021-11-10 173123.png" />
    <br />

    <p>Pec Dec</p>
    <img src="/ExerciseImages/Pec Dec Screenshot 2021-11-10 173441.png" />
    <br />

    <p>Pushups:</p>
    <img src="/ExerciseImages/Pushups Screenshot 2021-11-10 175828.png" />
    <br/>

</div>




    @code {

    }
