@page "/Component"
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App
<h1>New User</h1>
<h1>More Testing</h1>

<h1> "Please Enter your First name" </h1>
<input type="password">
<input type="Date" />
@code {

}
