@page "/Counter"
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App
<h1>New User</h1>

@*<p>Current count: @currentCount</p>*@

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@
<button class="btn btn-primary" @onclick="CreateUser">Create User</button>
<input type="Date" @bind="Date">
@*


@code {
    public DateTime _Date = DateTime.Now;

    public DateTime Date
    {
        get { return _Date; }
        set { _Date = value; }
    }

    public void CreateUser()
    {
        var u = new User();
        u.DOB = Date;
    }
  







}
