@page "/Counter"
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App
<h1>New User</h1>

@*<p>Current count: @currentCount</p>*@

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@
<button class="btn btn-primary" @onclick="CreateUser">Create User</button>
<input type="date">
<input type="checkbox">
<input type="password">
<input type="submit">
<input type="color">

@code {
    //private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    var workout = new Workout();
    //    currentCount++;
    //}

    public void CreateUser()
    {

        UI.EnterNewUser();

    }
}
