@page "/"
@using Fitness_Tracker_App
@using Fitness_Tracker_App.Data
@inject Data.DataService Data


<br />
<button class="btn btn-primary" @onclick="ChestExercises">Choose Chest Exercise</button>
<br />
<select @bind="_selectedName">

    @foreach (var exerciseName in Data.ChestExerciseNames)
    {
        <option>@exerciseName</option>
    }
</select>
Reps:
<input type="number" @bind="_numberReps" />
<br />

<br />
<button class="btn btn-primary" @onclick="LegExercises">Choose Leg Exercise</button>
<b />
<b />
<select @bind="_selectedName">

    @foreach (var exerciseName in Data.LegExerciseNames)
    {
        <option>@exerciseName</option>
    }
</select>
Reps: <input type="number" @bind="_numberReps" />
<b />


<button class="btn btn-primary" @onclick="BackExercises">Choose Back Exercise</button>
<b />
<b />

<select @bind="_selectedName">

    @foreach (var exerciseName in Data.BackExerciseNames)
    {
        <option>@exerciseName</option>
    }
</select>
Reps: <input type="number" @bind="_numberReps" />



@code {


    private string _selectedName;

    private int _numberReps;

    private void ChestExercises()
    {
        var aWorkout = new Workout();
        aWorkout.ExerciseName = _selectedName;
        aWorkout.AmountOfReps = _numberReps;
    }


    public string Name { get; set; }

    private void LegExercises()
    {
        var aWorkout = new Workout();
        aWorkout.ExerciseName = _selectedName;
        aWorkout.AmountOfReps = _numberReps;
    }

    private void BackExercises()
    {
        var aWorkout = new Workout();
        aWorkout.ExerciseName = _selectedName;
        aWorkout.AmountOfReps = _numberReps;
    }

    //public List<string> ChestExerciseNames
    //{
    //    get
    //    {
    //        List<string> ChestExercises = new();
    //        ChestExercises.Add("Barbell Bench Press");
    //        ChestExercises.Add("Barbell Incline Bench");
    //        return ChestExercises;
    //    }
    //}

    //public class ChestExerciseName
    //{
    //    public string Name { get; set; }
    //}
    //List<ChestExerciseName> chestExercises = new List<ChestExerciseName>
    //{
    //    new ChestExerciseName() { Name = "Barbell Bench Press"},
    //    new ChestExerciseName() { Name = "InclineBarbellBench"},
    //    new ChestExerciseName() { Name = "CableFlyes"},
    //    new ChestExerciseName() { Name = "DeclineBarbellBench"},
    //    new ChestExerciseName() { Name = "DumbbellFlyes"},
    //    new ChestExerciseName() { Name = "PecDec"},
    //    new ChestExerciseName() { Name = "CableCrossover"},





    @*@code {

        }*@
    @*<h1>Hello, world!</h1>

        <p>
            Welcome to your new app.
        </p>*@

    @*<Dialog Title ="Learn More">
            Do you want to
            <i>learn more</i> about Blazor?
        </Dialog>*@



}

@*<Counter />
    <FetchData />
    <Component />*@


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<SurveyPrompt Title="This is anotehr text as parameter for this component" />*@
