@page "/"

<style>
    body {
        background-color: rebeccapurple;
    }
</style>



@code {

}
<h1>Hello, world!</h1>

<p>
    Welcome to your new app.
</p>

@*<Dialog Title ="Learn More">
        Do you want to
        <i>learn more</i> about Blazor?
    </Dialog>*@



<div class="card" style="width:22rem">
    <div class="card-body"> 
        <h3 class="card-title">@Title</h3>
        <p class="card-text">@ChildContent</p>
        <button @onclick="OnYes">Yes!</button>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    private void OnYes()
    {
        Console.WriteLine("Write to the console in C#! 'Yes' button selected.");
    }
}

@*<Counter />
    <FetchData />
    <Component />*@


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<SurveyPrompt Title="This is anotehr text as parameter for this component" />*@
