@page "/"

<h1>Fitness Tracker App</h1>

<h1>Welcome to your new app.</h1>


<h1>Your Fitness Journey Starts Now.</h1>
<Counter />
<FetchData />
<Component />


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<SurveyPrompt Title="This is anotehr text as parameter for this component" />*@
