@page "/Leg Exercises"
@inject Data.DataService Data
<h1>Leg Exercises</h1>


<div class="container">

    <p>Incline Barbell Press:</p>
    <img src="@Data.ChestExercisePicturePaths["Incline Barbell Press"]" width="300" height="200" />

    <br />

</div>

@code {

}
