@page "/newpage"
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App
@inject Data.DataService Data
<h1>MyPracticePage</h1>
<h3>We have @Data.Users.Count People in the List</h3>
<h2>This page is for practising all my code</h2>
Today is @_Date
<br />
Hello @_firstName please choose a _ChestExerciseName:
<input @bind="_firstName" />
<input type="Date" @bind="_Date" />

<button class="btn btn-primary" @onclick="CreateUser">Create User</button>

@*<input @bind="_ChestExerciseName" />
    <button class="btn btn-primary" @onclick="ChestExercises">Choose Chest Exercise</button>*@


<input @bind="_exerciseName" />
    <button class="btn btn-primary" @onclick="ExerciseChoice">Choose Chest Exercise</button>


<SurveyPrompt Title="This is a cool title"></SurveyPrompt>
<SurveyPrompt Title="This is another title! =)"></SurveyPrompt>



@code {
    private DateTime _Date = DateTime.Now;

    public DateTime Date
    {
        get { return _Date; }
        set { _Date = value; }
    }

    private string _firstName = "John";

    public void CreateUser()
    {
        var u = new User();
        u.DOB = Date;
        u.FirstName = _firstName;

        Data.AddUser(u);
    }
    //private enum  _ChestExerciseName; // thinking this should be a list but unsure of how to input it?
    ////private List<ChestExerciseName> = _ChestExerciseName(); tried using list here

    //public void ChestExercises()
    //{
    //    var chest = new ChestExerciseName();

    //    chest = _ChestExerciseName; // tried to put multiple options in here as an identifier but none seem to be working

    //    Data.AddChestExercise(chest);


    //}
    private string _exerciseName;
    public void ExerciseChoice()
    {
        var ec = new Exercise();
        ec.ExerciseName = _exerciseName;

        Data.chestExerciseNames.Count();
    }


}
