@page "/newpage"
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App
@inject Data.DataService Data
@using FitnessWebApp.Pages.entities

<h1>MyPracticePage</h1>
<br />

<h2>This page is for practising all my code</h2>
Today is @_Date
<br />


<button class="btn btn-primary" @onclick="CreateUser">Create User</button>
<p>hello, @name.ToUpper()</p>
<p>lets add 2 + 2 = @(2 + 2 )</p>

<button @onclick="@(() => Console.WriteLine("i've been clicked!"))">click me</button>
// or

<button @onclick="@WriteInlog">click me </button>

<div>
    <h3>Movies:</h3>
    <MoviesList Movies="movies" />
</div>

<p></p>



@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
    {
                new Movie(){Title = "Spider-man: far from home", ReleaseDate = new DateTime(2019, 7, 2)},
                new Movie(){Title = "Moana", ReleaseDate = new DateTime(2016, 11 ,23)},
                new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7 ,16)},
            };
    }
    string name = "ja cameron";

    void WriteInlog()
    {
        Console.WriteLine("i've been clicked (from method)");
    }


 

    private DateTime _Date = DateTime.Now;

    public DateTime Date
    {
        get { return _Date; }
        set { _Date = value; }
    }

    private string _firstName = "John";

    public void CreateUser()
    {
        var u = new User();
        u.DOB = Date;
        u.FirstName = _firstName;

        Data.AddUser(u);
    }


    
   













}
