@page "/Shoulder Exercises"
@inject Data.DataService Data
<h1>Shoulder Exercises</h1>

<div class="container">

    <p>:</p>
    <img src="@Data.ShoulderExercisePicturePaths[""]" width="300" height="200" />

    <br />

    </div>


    @code {

    }
