@page "/Shoulder Exercises"
@inject Data.DataService Data
<h1>Shoulder Exercises</h1>

<div class="container">

    <p>Behind neck barbell shoulder press:</p>
    <img src="@Data.ShoulderExercisePicturePaths["Behind neck barbell shoulder press"]" />
    <br />
    
    <p>Machine shoulder Press:</p>
    <img src="@Data.ShoulderExercisePicturePaths["Machine shoulder Press"]" />
    <br /> 
    
    <p>Cable bar front raises:</p>
    <img src="@Data.ShoulderExercisePicturePaths["Cable bar front raises"]" />
    <br />
    
    <p>Cable Shrugs:</p>
    <img src="@Data.ShoulderExercisePicturePaths["Cable Shrugs"]" />
    <br />

    </div>


    @code {

    }
